.app-button {
  &.mat-basic {
    background-color: #fff;
  }

  .mdc-button__label {
    display: flex;
    align-items: center;
    padding: 0 2rem;

    &:has(mat-icon) {
      gap: 0.5rem;
      display: flex;
      align-items: center;
    }

    .mdc-circular-progress {
      &--indeterminate {
        right: -0.2rem;
        position: absolute;
      }
    }
  }

  &--small {
    height: auto !important;

    .mdc-button__label {
      padding: .2rem .3rem;
    }
  }

  &--large {
    height: auto !important;

    .mdc-button__label {
      font-size: 1.2rem;
      padding: 1rem 1.5rem;
    }
  }
}
