<div class="app-not-found">
  <mat-card class="app-not-found-card">
    <mat-card-header>
      <mat-card-title class="app-not-found-card-title">
        Página no encontrada <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        ¡Oops! Parece que te has perdido. La página que buscas no se encuentra aquí, ¿por qué no exploras nuestro contenido destacado o regresas a la página de inicio?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/dashboard">Go to Home Page</button>
    </mat-card-actions>
  </mat-card>
</div>
