<app-page-header icon="group">
  <h2>Usuarios</h2>

  <button mat-flat-button color="primary" routerLink="/usuarios/nuevo">
    <mat-icon class="mr-2">group_add</mat-icon>
    <span>Crear usuario</span>
  </button>
</app-page-header>

<app-page-content>
  <app-user-filters
    (filters)="onFiltersChange($event)"
  ></app-user-filters>
  <app-users-table
    [users]="users"
    [isLoading]="isLoading"
    [filters]="filters"
    (toggleStatusAction)="onToggleStatusAction($event)"
  ></app-users-table>
</app-page-content>
