.app-users-table {
  &--loading {
    min-height: 316px;
  }

  &-wrapper {
    position: relative;
  }

  &-loading {
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
  }

  &-header {
    &-actions {
      text-align: center;
    }
  }

  &-row {
    &:hover {
      background: whitesmoke;
    }

    &--disabled {
      td {
        opacity: 0.5;

        &:last-child {
          opacity: 1;
        }
      }
    }

    td {
      max-height: 52px;
    }

    &-actions {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;

      &-button {
        margin-right: .5rem;
      }
    }
  }
}
