html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    text-align: center;
  }

  &-field {
    margin-bottom: 1.5rem;
  }

  &-card-container {
    margin: auto;

    &--default {
      max-width: 450px;
    }

    &--large {
      max-width: 650px;
    }
  }

  [type="submit"] {
    margin: auto;
  }
}

.auth-page {
  margin-top: 8em;

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }
}
