<mat-card class="form-card-container form-card-container--default">
  <mat-card-content>
    <form class="form" [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()">
      <h2 class="form-title">Crear contraseña</h2>

      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput formControlName="password" type="password" required />

        <mat-error *ngIf="createPasswordForm.controls['password'].hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput formControlName="confirmPassword" type="password" required />

        <mat-error *ngIf="createPasswordForm.controls['confirmPassword'].hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <app-button
        type="submit"
        color="primary"
        [loading]="isButtonSubmitLoading"
        [disabled]="createPasswordForm.invalid || isButtonSubmitLoading"
      >
        Cambiar contraseña
      </app-button>
    </form>
  </mat-card-content>
</mat-card>
